.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
#!.yarn/cache
node_modules
.hvigor/
.pnp.*

# CNG/Hvigor outputs
**/harmony/**/.cxx/
**/harmony/**/build/
**/harmony/**/oh_modules/
**/harmony/library/BuildProfile.ets

# Harmony package artifacts.
*.har
*.hap
*.app
*.hsp
